.quiz-container {
    // 

    .title {
        font-size  : 26px;
        font-weight: 600;
        text-align : center;
    }

    legend {
        font-size: 13px;
    }

    .list-detail {
        padding: 15px;
    }
}